<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.school.uniform.model.dao.mapper.PurchaseMapMapper">
  <resultMap id="BaseResultMap" type="com.school.uniform.model.dao.entity.PurchaseMap">
    <result column="oderId" jdbcType="BIGINT" property="oderid" />
    <result column="productId" jdbcType="BIGINT" property="productid" />
    <result column="size" jdbcType="VARCHAR" property="size" />
    <result column="count" jdbcType="INTEGER" property="count" />
    <result column="price" jdbcType="VARCHAR" property="price" />
  </resultMap>
  <insert id="insert" parameterType="com.school.uniform.model.dao.entity.PurchaseMap">
    insert into purchase_map (oderId, productId, size, 
      count, price)
    values (#{oderid,jdbcType=BIGINT}, #{productid,jdbcType=BIGINT}, #{size,jdbcType=VARCHAR}, 
      #{count,jdbcType=INTEGER}, #{price,jdbcType=VARCHAR})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select oderId, productId, size, count, price
    from purchase_map
  </select>
</mapper>