<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.school.uniform.model.dao.mapper.SchoolMapper">
  <resultMap id="BaseResultMap" type="com.school.uniform.model.dao.entity.School">
    <id column="school" jdbcType="BIGINT" property="school" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="description" jdbcType="VARCHAR" property="description" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from school
    where school = #{school,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.school.uniform.model.dao.entity.School">
    insert into school (school, name, description
      )
    values (#{school,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.school.uniform.model.dao.entity.School">
    update school
    set name = #{name,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR}
    where school = #{school,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select school, name, description
    from school
    where school = #{school,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select school, name, description
    from school
  </select>
</mapper>